h1,
h2,
.tips
{
    text-align: center;
}

.tips {
    list-style: none
}
 
.title {
  font-size: 100px;
  margin: 30px;
  color:white;
  margin-top: 50px
}

#button
{
    text-align: center;
    font-weight: bold;
    
}

#adobo,
#sinigang{
   background-color:black
    
}

.img-adobo,
.img-sinigang
{
    background-color: black;
    display: flex;
    justify-content: center;

    
}

.info{
    background-color: white;
    padding: 3px

}