h1,
h2,
.tips
{
    text-align: center;
}

.tips {
    list-style: none
}
 
.title {
  font-size: 100px;
  margin: 30px;
  margin-top: 50px;
  font-size: 20px
}

#button
{
    text-align: center;
    font-weight: bold;
    
}

#adobo,
#sinigang{
   font-size: 20px;
}

.img-adobo,
.img-sinigang,
.img-bukopandan
{
    
    display: flex;
    justify-content: center;
    gap: 5px;

    
}

.info{
   

}

.info-description {
   
}